<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
<div class="bg-img">
    <div class="container">
        <div class="row">
            <h2 class="glow mx-auto" style="font-size:4vw;">Tamil Mandram</h2>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 logo1" style="text-align: center;">
                <img [src]="logo" class="rounded logoimg my-4" style="width: 200px;height:200px">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 header bg-success mx-auto p-lg-3 pt-sm-5 m-4" style="text-align: center; border-radius:5px">
                <h1 style="font-size:3vw;">Events</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="main-timeline">
                    <div class="timeline">
                        <div class="timeline-icon"><span class="year">Aug</span></div>
                        <div class="timeline-content" style="text-align: center;">
                            <h3 class="title">துவக்க விழா</h3>   
                            <p class="description">
                                <img [src]="event1"  alt="Swachh Bharat" class="img-rounded img-fluid" width="355" height="150">
                            </p>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="timeline-icon"><span class="year">Aug</span></div>
                        <div class="timeline-content" style="text-align: center;">
                            <h3 class="title">புத்தகம் பேசுது</h3> 
                            <p class="description">
                               <img [src]="event2"  alt="Blood Donation" class="img-rounded img-fluid" width="350" height="170">
                            </p>
                        </div>
                    </div>
            <div class="timeline">
                        <div class="timeline-icon"><span class="year">Sep</span></div>
                        <div class="timeline-content" style="text-align: center;">
                            <h3 class="title">துருவம்</h3> 
                            <p class="description">
                                <img [src]="event3"  alt="Nalam" class="img-rounded img-fluid" width="350" height="150">
                            </p>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="timeline-icon"><span class="year">Mar</span></div>
                        <div class="timeline-content" style="text-align: center;">
                            <h3 class="title">பொங்கல்</h3> 
                            <p class="description">
                                <img [src]="event4"  alt="Cinque Terre" class="img-rounded img-fluid" width="350" height="170">
                            </p>
                        </div>
                    </div>
            
            <div class="timeline">
                        <div class="timeline-icon"><span class="year">Mar</span></div>
                        <div class="timeline-content" style="text-align: center;">
                            <h3 class="title">யாழ்</h3> 
                            <p class="description">
                                <img [src]="event5" class="img-rounded img-fluid" alt="camp" width="350" height="170">
                            </p>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="timeline-icon"><span class="year">Sunday</span></div>
                        <div class="timeline-content" style="text-align: center;">
                            <h3 class="title">துளிர்</h3> 
                            <p class="description">
                                <img [src]="event6" class="img-rounded img-fluid" alt="Campus cleaning" width="350" height="170">
                            </p>
                        </div>
                    </div>
            
            <div class="timeline">
                        <div class="timeline-icon"><span class="year">Random</span></div>
                        <div class="timeline-content" style="text-align: center;">
                            <h3 class="title">விதை</h3> 
                            <p class="description">
                                <img [src]="event7" class="img-rounded img-fluid" alt="rally" width="350" height="170">
                            </p>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="timeline-icon"><span class="year">Sunday</span></div>
                        <div class="timeline-content" style="text-align: center;">
                            <h3 class="title">நிறைவு விழா</h3> 
                            <p class="description">
                               <img [src]="event8" class="img-rounded img-fluid" alt="Interaction" width="350" height="170">
                            </p>
                        </div>
                    </div>
            </div>
        </div>
      </div>    
      <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 mx-auto header bg-success p-lg-3 pt-sm-5 m-4" style="text-align: center; border-radius:5px">
                <h1 style="font-size:3vw;">Faculty Coordinator</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mx-auto" style="text-align: center;">
                <div class="col-md-4 faculty">
                    <div class="card">
                        <img [src]="fac1" class="rounded mx-auto">
                        <div class="">
                            <p class="name mt-2">R .MOULEESHUWARAPPRABU</p>
                            <div style="display: flex;" class="fac-icons-degree">
                                <i class="fas fa-graduation-cap pr-2 pt-1"></i>
                                <p>ME</p>
                            </div>
                            <h5 class="pb-2">Electronics and Instrumentation Engineering</h5>
                            <div style="display: flex;" class="fac-icons">
                                <i class="fas fa-envelope fa-md pr-2 pt-1"></i>
                                <p>moulieie@kongu.ac.in</p>
                            </div>
                            <div style="display: flex;" class="fac-icons-phone">
                                <i class="fas fa-phone-square pr-2 pt-1"></i>
                                <p>+91 97866 64799</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 faculty">
                    <div class="card">
                        <img [src]="fac2" class="rounded mx-auto">
                        <div class="">
                            <h5 class="name mt-2">Dr.J. Indra</h5>
                            <div style="display: flex;" class="fac-icons-degree pt-2">
                                <i class="fas fa-graduation-cap pr-2 pt-1"></i>
                                <p>ME., Ph.D.,</p>
                            </div>
                            <h5 class="pb-2">Electronics and Instrumentation Engineering</h5>
                            <div style="display: flex;" class="fac-icons">
                                <i class="fas fa-envelope fa-md pr-2 pt-1" style="margin-left: 20px;"></i>
                                <p>jindu@kongu.ac.in</p>
                            </div>
                            <div style="display: flex;" class="fac-icons-phone">
                                <i class="fas fa-phone-square pr-2 pt-1"></i>
                                <p>+91 98948 85987</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 faculty">
                    <div class="card">
                        <img [src]="fac3" class="rounded mx-auto pb-1">
                        <div class="">
                            <p class="name mt-2 mb-1">Dr. A.S.Periasamy Manikandan</p>
                            <div style="display: flex;" class="fac-icons-degree pt-2">
                                <i class="fas fa-graduation-cap pr-2 pt-1"></i>
                                <p>M.Tech., MBA., Ph.D</p>
                            </div>
                            <h5 class="mb-0">Chemical</h5>
                            <h5 class="mt-0 pb-2">Engineering</h5>
                            <div style="display: flex;" class="fac-icons">
                                <i class="fas fa-envelope fa-md pr-2 pt-1 pl-3"></i>
                                <p>aspm@kongu.ac.in</p>
                            </div>
                            <div style="display: flex;" class="fac-icons-phone">
                                <i class="fas fa-phone-square pr-2 pt-1"></i>
                                <p>+91 94425 20334</p>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="instaicon mt-4 mb-4 mx-auto" style="display: flex;">
                <i class="fab fa-instagram fa-2x px-2 py-2" ></i>
                <h3 class="glow1 ml-3 mt-2">kec_zhagaram_tamilmandram</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row" style="text-align: center;">
            <div class="col-sm-12 buton">
                <a (click)="open(content)">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Register
                </a>
            </div>
        </div>
    </div>
    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-bg">
            <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Welcome You to Tamil Mandram of KEC</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            <a href="https://forms.gle/BBxLRRZPEu4znfEJ8" target="blank">Register Here</a>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-success mx-auto" (click)="c('Save click')">Done<i class="fas fa-thumbs-up fa-1x pl-2 pt-2 mb-2"></i></button>
            </div>
        </div>
      </ng-template>
</div>