<div class="bg-img">
    <div class="container mx-auto m-0">
        <div class="row">
            <div class="col-sm-4 mt-3">
                <a routerLink="/club/english">
                    <div class="card">
                        <img [src]="English" class="rounded-circle mx-auto mt-3" alt="English">
                        <div class="content" style="text-align: center;">
                            <h5 class="pt-4 mb-0">English Province</h5>
                            <h5 class="mt-0">Club</h5>
                            <div style="display: flex;" class="px-5 mt-4">
                                <i class="fab fa-instagram fa-lg px-2 py-1" ></i>
                                <p class="insta">english_proficiency_club</p>
                            </div>
                        </div>
                    </div>  
                </a>
            </div>
            <div class="col-sm-4 mt-3">
                <a routerLink="/club/tamil">
                    <div class="card">
                        <img [src]="Tamil" class="rounded-circle mx-auto mt-3" alt="Tamil">
                        <div class="content" style="text-align: center;">
                            <h4 class="pt-4 mb-0">ழகரம்&nbsp; தமிழ்</h4>
                            <h4 class="mt-0">மன்றம்</h4>
                            <div style="display: flex;" class="px-4 mx-1 mt-3">
                                <i class="fab fa-instagram fa-lg px-2 py-1" ></i>
                                <p class="insta">kec_zhagaram_tamilmandram</p>
                            </div>
                        </div>
                    </div>  
                </a>
            </div>
            <div class="col-sm-4 mt-3">
                <a routerLink="/club/maths">
                    <div class="card">
                        <img [src]="Maths" class="rounded-circle mx-auto mt-3" alt="Maths">
                        <div class="content" style="text-align: center;">
                            <h5 class="pt-4 mb-0">Srinivasa Ramanujan</h5>
                            <h5 class="mt-0">Mathematic Club</h5>
                            <div style="display: flex;" class="px-5 mt-4">
                                <i class="fab fa-instagram fa-lg px-2 py-1" ></i>
                                <p class="insta">kec_mathematics__club</p>
                            </div>
                        </div>
                    </div>  
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 mt-3">
                <a routerLink="/club/cultural">
                    <div class="card">
                        <img [src]="Cultural" class="rounded-circle mx-auto mt-3" alt="Cultural">
                        <div class="content" style="text-align: center;">
                            <h4 class="pt-5 mb-0">Cultural Club</h4>
                            <div style="display: flex;" class="px-5 mx-2 mt-4">
                                <i class="fab fa-instagram fa-lg px-2 py-1" ></i>
                                <p class="insta">cultural_club_of_kec</p>
                            </div>
                        </div>
                    </div>  
                </a>
            </div>
            <div class="col-sm-4 mt-3">
                <a routerLink="/club/rotaract">
                    <div class="card">
                        <img [src]="Rotaract" class="rounded-circle mx-auto mt-3" alt="Rotract">
                        <div class="content" style="text-align: center;">
                            <h4 class="pt-5 mb-0">Rotaract Club</h4>
                            <div style="display: flex;" class="px-5 mx-2 mt-4">
                                <i class="fab fa-instagram fa-lg px-2 py-1" ></i>
                                <p class="insta">rotaract_club_of_kec</p>
                            </div>
                        </div>
                    </div>  
                </a>
            </div>
            <div class="col-sm-4 mt-3">
                <a routerLink="/club/music">
                    <div class="card">
                        <img [src]="Music" class="rounded-circle mx-auto mt-3" alt="Music">
                        <div class="content" style="text-align: center;">
                            <h4 class="pt-5 mb-0">Music Club</h4>
                            <h6 class="pt-4 mb-0"></h6>
                        </div>
                    </div>  
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 mt-3">
                <a routerLink="/club/sdc">
                    <div class="card">
                        <img [src]="SDC" class="rounded-circle mx-auto mt-3" alt="SDC">
                        <div class="content" style="text-align: center;">
                            <h5 class="pt-4 mb-0">Self-Development</h5>
                            <h5 class="mt-0">Club</h5>
                            <div style="display: flex;" class="px-5 mt-4">
                                <i class="fab fa-instagram fa-lg px-2 py-1" ></i>
                                <p class="insta">selfdevelopmentcell</p>
                            </div>
                        </div>
                    </div>  
                </a>
            </div>
            <div class="col-sm-4 mt-3">
                <a routerLink="/club/gender">
                    <div class="card">
                        <img [src]="Gender" class="rounded-circle mx-auto mt-3" alt="Gender">
                        <div class="content" style="text-align: center;">
                            <h5 class="pt-4 mb-0">Gender Equality</h5>
                            <h5 class="mt-0">Club</h5>
                            <div style="display: flex;" class="px-5 mt-4">
                                <i class="fab fa-instagram fa-lg px-2 py-1" ></i>
                                <p class="insta">thegenderequalityclub</p>
                            </div>
                        </div>
                    </div>  
                </a>
            </div>
            <div class="col-sm-4 mt-3">
                <a routerLink="/club/wdc">
                    <div class="card">
                        <img [src]="WDC" class="rounded-circle mx-auto mt-3" alt="WDC">
                        <div class="content" style="text-align: center;">
                            <h5 class="pt-4 mb-0">Women Development</h5>
                            <h5 class="mt-0">Club</h5>
                            <div style="display: flex;" class="px-5 mx-5 mt-4">
                                <i class="fab fa-instagram fa-lg px-2 py-1" ></i>
                                <p class="insta">kec_wdc</p>
                            </div>
                        </div>
                    </div>  
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 my-3">
                <a routerLink="/club/nss">
                    <div class="card">
                        <img [src]="Nss" class="rounded-circle mx-auto mt-3" alt="NSS">
                        <div class="content" style="text-align: center;">
                            <h5 class="pt-4 mb-0">National Service</h5>
                            <h5 class="mt-0">Scheme</h5>
                            <div style="display: flex;" class="px-5 mx-5 mt-4">
                                <i class="fab fa-instagram fa-lg px-2 py-1" ></i>
                                <p class="insta">nss_kec</p>
                            </div>
                        </div>
                    </div>  
                </a>
            </div>
            <div class="col-sm-4 my-3">
                <a routerLink="/club/photo">
                    <div class="card">
                        <img [src]="Photo" class="rounded-circle mx-auto mt-3" alt="Photography">
                        <div class="content" style="text-align: center;">
                            <h5 class="pt-4 mb-0">Photography & Design</h5>
                            <h5 class="mt-0">Club</h5>
                            <div style="display: flex;" class="px-5 mt-4">
                                <i class="fab fa-instagram fa-lg px-2 py-1" ></i>
                                <p class="insta">kec_photography_club</p>
                            </div>
                        </div>
                    </div>  
                </a>
            </div>
            <div class="col-sm-4 my-3">
                <a routerLink="/club/aadc">
                    <div class="card">
                        <img [src]="AADC" class="rounded-circle mx-auto mt-3" alt="AADC">
                        <div class="content" style="text-align: center;">
                            <h5 class="pt-4 mb-0">Android Application</h5>
                            <h5 class="mt-0">Development Club</h5>
                            <div style="display: flex;" class="px-5 mt-4">
                                <i class="fab fa-instagram fa-lg px-2 py-1" ></i>
                                <p class="insta">android_club_of_kec</p>
                            </div>
                        </div>
                    </div>  
                </a>
            </div>
        </div>
    </div>
</div>