img{
    width: 250px;
    height: 190px;
}
img:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
  
.card{
    height: 350px;
    margin: 15px;
    box-shadow: 0 10px 15px 0 black;
}
.bg-img{
    background-image: linear-gradient(#04cc39 0%, #44c489 30%, #28a9ae 46%, #28a2b7 59%, #4c7788 71%, #583680 86%, #432c39 100%);
}
.content .insta{
    font-style: italic;
}  
.content{
    text-decoration: none;
    color:black;
    font-family: sans-serif;
}
.content h4,h5{
    font-weight: bold;
    font-family: verdana;
}
