<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
<div class="bg-img">
    <div class="container">
        <div class="row">
            <h2 class="glow mx-auto" style="font-size:4vw;">Photography & Design Club</h2>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 header mx-auto bg-success p-lg-3 pt-sm-5 m-4" style="text-align: center; border-radius:5px">
                <h1 style="font-size:3vw;">Events</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="main-timeline">
                    <div class="timeline">
                        <div class="timeline-icon"><span class="year">Aug</span></div>
                        <div class="timeline-content" style="text-align: center;">
                            <h3 class="title">INAUGRAL</h3>   
                            <p class="description">
                                <img [src]="event1"  alt="Inaugral" class="rounded img-fluid" width="355" height="150">
                            </p>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="timeline-icon"><span class="year">Aug</span></div>
                        <div class="timeline-content" style="text-align: center;">
                            <h3 class="title">GUEST LECTURE</h3>
                            <p class="description">
                               <img [src]="event2"  alt="guest lecture" class="rounded img-fluid" width="350" height="170">
                            </p>
                        </div>
                    </div>
            <div class="timeline">
                        <div class="timeline-icon"><span class="year">Sep</span></div>
                        <div class="timeline-content" style="text-align: center;">
                            <h3 class="title">WORKSHOP</h3> 
                            <p class="description">
                                <img [src]="event3"  alt="Workshop" class="rounded img-fluid" width="350" height="150">
                            </p>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="timeline-icon"><span class="year">Mar</span></div>
                        <div class="timeline-content" style="text-align: center;">
                            <h3 class="title">PHOTOGRAPHERS</h3> 
                            <p class="description">
                                <img [src]="event4"  alt="Photographers" class="rounded img-fluid" width="350" height="170">
                            </p>
                        </div>
                    </div>
            
            <div class="timeline">
                        <div class="timeline-icon"><span class="year">Mar</span></div>
                        <div class="timeline-content" style="text-align: center;">
                            <h3 class="title">SCINTILLA</h3> 
                            <p class="description">
                                <img [src]="event5" class="rounded img-fluid" alt="Scintilla" width="350" height="170">
                            </p>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="timeline-icon"><span class="year">Sunday</span></div>
                        <div class="timeline-content" style="text-align: center;">
                            <h3 class="title">PICTURESQUE</h3> 
                            <p class="description">
                                <img [src]="event6" class="rounded img-fluid" alt="Picture square" width="350" height="170">
                            </p>
                        </div>
                    </div>
            
            <div class="timeline">
                        <div class="timeline-icon"><span class="year">Random</span></div>
                        <div class="timeline-content" style="text-align: center;">
                            <h3 class="title">VALEDICTORY</h3> 
                            <p class="description">
                                <img [src]="event7" class="rounded img-fluid" alt="Validictory" width="350" height="170">
                            </p>
                        </div>
                    </div>
        </div>
      </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 header mx-auto bg-success p-lg-3 pt-sm-5 m-4" style="text-align: center; border-radius:5px">
                <h1 style="font-size:3vw;">Faculty Coordinator</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mx-auto"  style="text-align: center;">
                <div class="col-md-4 faculty">
                    <div class="card">
                        <img [src]="fac1" class="rounded mx-auto">
                        <div class="">
                            <h5 class="name mt-2">K.Devendran</h5>
                            <div style="display: flex;" class="fac-icons-degree pt-2">
                                <i class="fas fa-graduation-cap pr-2 pt-1"></i>
                                <p>BE ME</p>
                            </div>
                            <h5 class="pb-2">Computer Science and Engineering</h5>
                            <div style="display: flex;" class="fac-icons pl-3">
                                <i class="fas fa-envelope fa-md pr-2 pt-1"></i>
                                <p>skdeva@kongu.ac.in</p>
                            </div>
                            <div style="display: flex;" class="fac-icons-phone">
                                <i class="fas fa-phone-square pr-2 pt-1"></i>
                                <p>+91 96773 98154</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 faculty">
                    <div class="card">
                        <img [src]="fac3" class="rounded mx-auto">
                        <div class="">
                            <h5 class="name mt-2">Dr.M.VIJAY ANAND</h5>
                            <div style="display: flex;" class="fac-icons-degree pt-2">
                                <i class="fas fa-graduation-cap pr-2 pt-1"></i>
                                <p>BE.,ME.,Ph.D.</p>
                            </div>
                            <h5 class="mb-0">MECHANICAL</h5>
                            <h5 class="pb-2 mt-0">ENGINEERING</h5>
                            <div style="display: flex;" class="fac-icons">
                                <i class="fas fa-envelope fa-md pr-2 pt-1"></i>
                                <p>vijayanand@kongu.ac.in</p>
                            </div>
                            <div style="display: flex;" class="fac-icons-phone">
                                <i class="fas fa-phone-square pr-2 pt-1"></i>
                                <p>+91 99428 34224 </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 faculty">
                    <div class="card">
                        <img [src]="fac2" class="rounded mx-auto">
                        <div class="">
                            <h5 class="name mt-2">H.Muthukrishnan</h5>
                            <div style="display: flex;" class="fac-icons-degree pt-2">
                                <i class="fas fa-graduation-cap pr-2 pt-1"></i>
                                <p>B.Tech,  M.E(CSE)</p>
                            </div>
                            <h5 class="mb-0">Information</h5>
                            <h5 class="mt-0 pb-2">Technology</h5>
                            <div style="display: flex;" class="fac-icons">
                                <i class="fas fa-envelope fa-md pr-2 pt-1"></i>
                                <p>muthukrishnan@kongu.ac.in</p>
                            </div>
                            <div style="display: flex;" class="fac-icons-phone">
                                <i class="fas fa-phone-square pr-2 pt-1"></i>
                                <p>+91 75024 02307</p>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="instaicon mt-4 mb-4 mx-auto" style="display: flex;">
                <i class="fab fa-instagram fa-2x px-2 py-2"></i>
                <h3 class="glow1 ml-3 mt-2">kec_photography_club</h3>
            </div>
        </div>
    </div>    
    <div class="container">
        <div class="row" style="text-align: center;">
            <div class="col-sm-12 buton">
                <a (click)="open(content)">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Register
                </a>
            </div>
        </div>
    </div>
    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-bg">
            <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Welcome You to Photography & Design Club of KEC</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <a href="https://forms.gle/BBxLRRZPEu4znfEJ8" target="blank">Register Here</a>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-success mx-auto" (click)="c('Save click')">Done<i class="fas fa-thumbs-up fa-1x pl-2 pt-2 mb-2"></i></button>
            </div>
        </div>
      </ng-template>
</div>