<div class="banner">
    <div class="content">
        <h1>KEC CLUBS</h1>
        <p>“ Clubs of KEC ” is an online club management software system for controlling and monitoring the various clubs in a single software system.
            Website that includes each and every club of KEC till date, which allows students to enroll themselves into any Clubs irrespective of their Department.
        </p>
        <br>
        <div>
            <button type="button" routerLink="/club"><span> </span> CLUBS </button>
            <button type="button" routerLink="/contact"> <span> </span> CONTACT </button>			
        </div>	
    </div>
</div>
<div class="mt-5 mb-5">
    <div class="container">
        <ngb-carousel *ngIf="images">
            <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="images[0]" alt="Random first slide" style="width: 100%; height:500px">
            </div>
            <!--<div class="carousel-caption">
                <h3>First slide label</h3>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>-->
            </ng-template> 
            <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="images[1]" alt="Random second slide" style="width: 100%; height:500px">
            </div>
            <!--<div class="carousel-caption">
                <h3>Second slide label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>-->
            </ng-template>
            <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="images[2]" alt="Random third slide" style="width: 100%; height:500px">
            </div>
            <!--<div class="carousel-caption">
                <h3>Third slide label</h3>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>-->
            </ng-template>
        </ngb-carousel>
    </div>
</div>
